body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Timer {
  display: inline-block;
  background-color: rgb(117, 150, 150);
  padding: 10px;
  color: #fff;
  margin: 10px;
}

.Minute {
  color: rgb(9, 3, 61);
  font-style: italic;
  font-weight: 700;
  padding: 2px;
}

.Second {
  color: rgb(167, 23, 23);
  font-style: italic;
  font-weight: 700;
}

.Die {
  color: rgb(73, 73, 143);
  display: inline-block;
  margin: 40px;
  font-size: 100px;
  transition: ease-in 3s;
}

.Dice {
  margin: 100px auto;
  text-align: center;
}

.btn {
  display: block;
  margin: 20px auto;
  border: none;
  padding: 10px 20px;
  width: 150px;
  background-color: blue;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.btn-clicked {
  background-color: #000;
}

.btn-clicked2 {
  animation: wobble 1s;
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.Lotto {
  background-color: rgba(204, 30, 30, 0.74);
  color: #fff;
  display: inline-block;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  margin: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.Lottery{
  margin: 50px auto;
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(204, 30, 30, 0.74);
} 

.GenerateButton{
  border: none;
  text-align: center;
  padding: 5px;
  background-color: rgb(218, 156, 156);
  border-radius: 10px;
  width: 100px;
  display: block;
  margin: 30px auto;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
}

.GenerateButton:hover {
  transform: translateY(-2px);
}

.GenerateButton:active{
  transform: translateY(2px);
}

.Lottery-title{
  font-size: 20px;
  font-weight: 700;
  margin: 10px auto;
}