*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* change the box model so that border and padding are not added to total height and width*/
}

html {
  font-size: 62.5%; /* root font size declared in html 10px is 62.5% of default font size 16px;*/

  // @include respond-phone {
  //   font-size: 50%; //this is content passed to mixin can be multiple properties
  // }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem should be 9px => 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem should be 8px => 8/16 = 50%
  }

  // @include respond(phone) {
  //   font-size: 50%;
  // } // since above media query apply

  @include respond(big-desktop) {
    font-size: 75%; //// 1rem should be 12px => 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0; //removes padding at 900px;
  }
}
